body {
    font-family: 'Roboto', sans-serif;
    color: ;
    background-color: #FFFFFF;
}

.page-nav .link {
    color:#2E2F42;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color:#404BBF;
}
